<!-- views/login.ejs -->

<!doctype html>
<html>
<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <section id="login">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-xs-12 ">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 ">

                <div class=" px-3" id="my_logo_demo">
                    <h1>NexoSmart</h1>
                    <h4>Welcome!</h4>
                </div>

                <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
      
                <section class="container">

                    <form action="/login" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <div class="row top_buttom">
                            <div class="col-lg-6 col-md-6 col-xm-12 form-group flex4">
                                <input type="checkbox" class="" name="remember" value="yes">
                                <span>Remember me</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xm-12 form-group">
                                <a href="#" class="link_forgot_pass">Forgot password</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xm-12">
                            </div>
                            <div class="col-lg-4 col-md-4 col-xm-12">
                                <button type="submit" class="btn btn-danger btn-lg" id="btn_log_login">Login</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xm-12">
                                <a href="/signup">
                                    <button type="button" class="btn btn-secondary btn-lg" id="btn_log_signup">Sign
                                        up</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 ">
            </div>
        </div>
    </section>
</body>

</html>